# ignorar tudo
*

# não ignorar extensões .c, .cpp, .h, .hpp e .txt 
!*.c
!*.cpp
!*.h
!*.hpp
!*.txt

# não ignorar diretórios
!*/

# não ignorar extensões .c, .cpp, .h, .hpp, e .txt dentro dos diretórios
!*/*.c
!*/*.cpp
!*/*.h
!*/*.hpp
!*/*.txt

# ignorar diretórios de referências e exemplos
ref/
ex/
