# ignorar tudo
*

# não ignorar extensões .cpp, .hpp e .txt 
!*.cpp
!*.hpp
!*.txt

# não ignorar pastas
!*/

# não ignorar extensões .cpp, .hpp, and .txt dentro das pastas
!*/*.cpp
!*/*.hpp
!*/*.txt

# ignorar a pasta com material de referência
ref/
