# ignorar tudo
*

# não ignorar diretórios
!*/

# não ignorar extensões .c, .cpp, .h, .hpp, e .txt, desde que dentro dos diretórios
!*/*.c
!*/*.cpp
!*/*.h
!*/*.hpp
!*/*.txt

# ignorar diretórios de referências e exemplos
ref/
ex/
